# Flutter/Dart build and tool files
.dart_tool/
.build/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code / IntelliJ
.vscode/
.idea/

# macOS
macos/Flutter/Flutter.podspec
macos/Pods/

# Linux
linux/flutter/

# Windows
windows/flutter/

# Others
pubspec.lock
